<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Result</h1>
<p th:text="'id: ' + ${location.id}" />
<p th:text="'name: ' + ${location.name}" />
<p th:text="'address: ' + ${location.address}" />
<a href="/locations/create">create another location</a>
<form action="#" th:action="@{/locations/share}" th:object="${locationShareDto}" method="post">
    <h3>Share with:</h3>
    <input type="hidden" th:field="*{location}">
    <label th:text="Email"/><br>
    <input type="text" th:field="*{email}"/>
    <p> Access level:</p>
    <input id="access1" type="radio" th:field="*{couldShare}" value="false"/><label for="access1">Read-only</label><br>

    <input id="access2" type="radio" th:field="*{couldShare}" value="true"/><label for="access2">can share</label><br>
    <input type="submit" value="submit" />
</form>
<a href="/">main page</a>

</body>
</html>