<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
<!--    <thead>-->
<!--        <tr>-->
<!--            <th th:text="name"></th>-->
<!--            <th th:text="address"></th>-->
<!--        </tr>-->
<!--    </thead>-->
    <tbody>
        <tr th:each="location : ${locations}">
            <td th:text="${location}"/>
<!--            <td th:text="${location.address}"/>-->
        </tr>
    </tbody>
</table>
</body>
</html>